<div class="card" style="padding:0; height: 100%; background:#fff; color:">
    <ul class="main-menu" style="margin-top:0;">
        <li class="bgm-lime"><a href="#" class="a_tag"><i class="zmdi zmdi-trending-up"></i> Today <code>151</code>&nbsp;&nbsp; New <code>22</code>&nbsp;&nbsp; Post <code><%= Posting.count %></code></a></li>
        <li class=""><a href="#" class="a_tag"><i class="zmdi zmdi-input-antenna"></i> 사이트 공지사항</a></li>
        <li class=""><a href="#" class="a_tag"><i class="zmdi zmdi-male"></i> 두흿두흿츄</a></li>
        <li class=""><a href="#" class="a_tag"><i class="zmdi zmdi-twitter"></i> 멋사 새 소식</a></li>
        <li class="sub-menu">
            <a href="" class="a_tag"><i class="zmdi zmdi-star"></i> 자주찾는 갤러리</a>
            <ul>
                <li><a href="/home/board/1" class="a_tag"><code>개발</code> 개발자방</a></li>
                <li><a href="/home/board/14" class="a_tag"><code>기획</code>기획자방</a></li>
                <li><a href="/home/board/43" class="a_tag"><code>운영진</code>동국대학교</a></li>
                <li><a href="/home/board/58" class="a_tag"><code>학교</code>동국대학교</a></li>
                <li><a href="/home/board/73" class="a_tag"><code>해커톤</code>신촌 연합 해커톤</a></li>
                <li><a href="/home/board/94" class="a_tag"><code>기수별</code>멋쟁이 사자처럼 3기</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="#" class="a_tag"><i class="zmdi zmdi-bookmark"></i> Private 링크 저장소</a>
            <ul>
                <li><a href="https://google.co.kr" class="a_tag">구우우우우우글</a></li>
                <li><a href="http://class.likelion.net" class="a_tag">클래스라이언</a></li>
                <li><a href="http://likelion.org" class="a_tag">멋사공식페이지</a></li>
                <li><a href="http://aws.amazon.com" class="a_tag">에이더블유에스(AWS)</a></li>
            </ul>
        </li>
        <li class="bgm-lime"><a href="#" class="a_tag" style="text-align:center;padding-left: 0;padding-right: 0;">2016 SPONSORS</a></li>
        <li>
            <div class="col-md-12" style="padding:0">
                <div class="col-md-6" style="padding:0">
                    <div class="side_banner_left">
                        <img src="http://www.bloter.net/wp-content/uploads/2016/01/Navercast_AWS_01_logo.png" style="width:100%; height:auto">
                    </div>
                </div>
                <div class="col-md-6" style="padding:0">
                    <div class="side_banner_left">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Smilegate_group_official_logo.png" style="width:100%; height:auto">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="col-md-12" style="padding:0">
                <div class="col-md-6" style="padding:0">
                    <div class="side_banner_left">
                        <img src="http://d2hmp4n7p97ldw.cloudfront.net/assets/sponsors/primer-267985bd12b07bcc73ccff94e8ef7a3521ac379e620ae01490e7ab084713f144.png" style="width:100%; height:auto">
                    </div>
                </div>
                <div class="col-md-6" style="padding:0">
                    <div class="side_banner_left">
                        <img src="http://d2hmp4n7p97ldw.cloudfront.net/assets/sponsors/jpub-b9e0d8f5d944cf2ed2757d67bccc874331d06dbd579687900cf95d5f8d264e74.png" style="width:100%; height:auto">
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="side_banner_left">
                <img src="http://static1.squarespace.com/static/551cbdc5e4b0cd11d2597487/t/563fe143e4b09cf126792f12/1447027011715/" style="width:100%; height:auto">
            </div>
        </li>
    </ul>
</div>

<style>
    .side_banner_left{
        /*position: absolute;*/
        /*bottom: 0;*/
        width: 100%;
        padding: 5% 15%;
        border-top: 2px solid #e9e9e9;
        height: auto;
        border-bottom: 2px solid #e9e9e9;
    }
    .a_tag{
        color: #5E5E5E !important;
        font-size: 15px !important;
        font-weight: bold !important;
    }
    
</style>